*.class
*.log

/.idea/
/out/
/.bsp/

.project
.classpath
.metadata
.cache
bin/

/target/
/project/target
/project/build.properties

/cli/target/
/cli/project/
/core/target/
/core/project/
/gui/target/
/gui/project/
/service/target/
/service/project/
