*.class
*.log

/.bsp/
/.idea/
/out/

.project
.classpath
.metadata
.cache
bin/

/target/
/project/project
/project/target
/project/build.properties

/cli/target/
/cli/project/
/core/target/
/core/project/
/gui/target/
/gui/project/
/service/target/
/service/project/
/swing-async/target/
/swing-async/project/
